@import 'tailwindcss';

:root {
  --header-height: 60px;
}

body {
  @apply text-slate-600;
}

div {
  @apply select-none;
}

.dot {
  align-self: center;
  border-radius: 9999px;
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

.task-panel-transition {
  transition-property: width, min-width, transform;
  transition-duration: 300ms;
}
